header {
  width: 100%;
  .container {
    @include myMedia(1600px) {
      width: 1200px;
    }
    @include myMedia(600px) {
      width: 100%;
    }

    @include myMedia(600px) {
      flex-direction: column;
      align-items: center;
      row-gap: 50px;
    }
  }
}
.header-top {
  width: 100%;
  height: 60px;
  position: relative;
  background-color: $main-green;
  padding: 20px 15px 0px;
  display: flex;
  justify-content: center;
  .content {
    display: flex;
    justify-content: start;
    position: relative;
  }
  .location {
    margin-left: 0px !important;
    i {
      margin-right: 5px;
    }
  }
  &-left {
    position: relative;
    color: white;
    font-family: $main-font-family;
    font-size: 14px;
    margin-left: 10px;
    padding: 3px 0px;
    a {
      margin-right: 10px;
      display: flex;
      justify-content: center;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: 0px;
        transition: 0.3s linear;
      }
      &:hover::before {
        width: 100%;
        border: 1px solid white;
      }
    }
    &::before {
      position: absolute;
      right: 0px;
      content: "";
      height: 80%;
      border: 1px solid white;
    }
  }
  .facebook-like {
    margin-left: 10px;
    img {
      width: 90px;
    }
    @include myMedia(1150px) {
      display: none;
    }
  }
  &-links {
    position: absolute;
    right: 0px;
    font-family: $main-font-family;
    color: white;
    display: flex;
    font-size: 14px;
    div {
      display: flex;
    }
    a {
      margin-right: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        bottom: 0px;
        transition: 0.3s linear;
      }
      i {
        margin-right: 10px;
      }
      &:hover::before {
        width: 100%;
        border: 1px solid white;
      }
      @include myMedia(1150px) {
        span {
          display: none;
        }
      }
    }
  }
  @include myMedia(1000px) {
    display: none;
  }
}
.header-main-content {
  display: flex;
  justify-content: space-between;
  background-color: #f3f4f6;
  padding: 24px 15px 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-left {
    width: auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    @include myMedia(600px) {
      width: 50%;
    }
  }
  &-right {
    width: auto;
    form {
      width: auto;
      input,
      select,
      button {
        outline: none;
        border: none;
        padding: 15px;
      }
      input {
        padding: 0px 16px;
        width: 365px;
        @include myMedia(960px) {
          width: 70%;
        }
      }
      button {
        background-color: #ff6633;
        color: white;
        display: flex;
        i {
          margin-right: 10px;
        }
        @include myMedia(960px) {
          font-size: 10px;
        }
        @include myMedia(600px) {
          width: 10%;
          font-size: 10px;
        }
      }
      span {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: "";
          position: absolute;
          border: 1px solid rgba(0, 0, 0, 0.8);
          height: 60%;
          background-color: red;
          margin: 0px auto;
          left: 0px;
        }
        select {
          @include myMedia(600px) {
            padding: 0px;
            width: 100%;
            font-size: 10px;
          }
        }
      }
      .search {
        background-color: white;
        border-radius: 10px;
        position: relative;
        display: flex;
        overflow: hidden;
      }
    }

    @include myMedia(600px) {
      width: 80%;
    }
  }
}
