.nav {
  width: 100%;
  background-color: #f3f4f6;
  .container {
    display: flex;
    justify-content: space-between;
    @include myMedia(960px) {
      justify-content: space-around;
    }
  }
}
.nav-list {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-family: $main-font-family;
  li {
    a {
      padding: 6px 14px;
      font-size: 14px;
    }
  }
  @include myMedia(960px) {
    padding: 10px;
    font-size: 12px;
    column-gap: 5px;
  }
}
.nav-right {
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  font-family: $main-font-family;
  overflow: hidden;

  .busket-icon {
    display: flex;
    align-items: center;
    padding: 20px;
    @include myMedia(960px) {
      padding: 10px;
      font-size: 15px;
    }
  }
  .checkout {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #0099dd;
    color: white;
    @include myMedia(960px) {
      padding: 10px;
      font-size: 15px;
    }
  }
}
