.new-releases {
  width: 100%;
}

.new-releases-books {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.new-releases-books-item {
  position: relative;
  width: 100px !important;
}
.checkout-in-book {
  position: absolute;
  bottom: 0px;
  background-color: white;
  overflow: hidden;
  border: 1px solid;
  display: flex;
  span {
    padding: 10px;
  }
  .checkout-icon {
    background-color: $mainblue-light;
  }
}
.priv-arrow,
.next-arrow {
  width: 20px;
  height: 20px;
  font-size: 30px;
}
.priv-arrow{
    margin-right: 15px;
}
.new-releases-btn{
    display: flex;
    justify-content: center;
    button{
    border: 1px solid $main-green;
    padding: 10px;
    background-color: inherit;
    color:$main-green;

    }
}
