.trending-now {
  .container {
    display: flex;
    @include myMedia(950px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.trending-now-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 20px;
  & > div {
    width: 100%;
    & > h2 {
      width: 100%;
      padding: 10px;
      position: relative;
      font-weight: 600;
      span {
        color: $main-green-light;
      }
      &::before {
        content: "";
        position: absolute;
        width: 90%;
        border: 1px solid rgba(168, 168, 168, 0.635);
        bottom: 0px;
      }
    }
  }
}
.trending-now-books {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  column-gap: 15px;
  & > div {
    width: calc(100% / 3 - 20px);
    height: auto;
    position: relative;
    padding: 0px 10px;
    background-color: $bg-gray;
    img {
      width: 100%;
    }
  }
}
.trending-now-book-link {
  display: inline-block;
  width: 100%;
}
.checkout-in-trending-now {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 10%;
  display: flex;
  opacity: 1;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s linear;

  span {
    padding: 7%;
    background-color: white;
  }

  .checkout-icon {
    background-color: $mainblue-light;
    padding: 7%;
    height: 100%;
  }
}
.trending-now-book:hover > .checkout-in-trending-now,
.trending-now-center > div:hover .checkout-in-trending-now {
  opacity: 1;
}
.trending-now-books > div:hover,
.trending-now-center > div:hover {
  box-shadow: 1px 1px 20px black;
}
.trending-now-center {
  box-shadow: none !important;
  transition: 0.2s linear;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
  background-color: white !important;
  & > div {
    width: 50%;
    height: 40%;
    position: relative;
    padding: 0px 10px;
    background-color: $bg-gray;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .checkout-in-trending-now {
    span {
      padding: 5px;
      font-size: 10px;
    }
  }
}
.trending-now-left-bottom-link {
  padding: 10px;
  width: 100%;
  color: $main-green-light;
  display: flex;
  justify-content: flex-end;
  background-color: $bg-gray;
  font-size: 14px;
  font-weight: 600;
}
//----------------right-------------
.trending-now-right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin-top: 20px;
  @include myMedia(950px) {
    justify-content: center;
    width: 70%;
  }

  ol {
    list-style-type: style;
    width: 100%;
  }
  li {
    counter-increment: item;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    column-gap: 10px;
    width: 100%;
    border: 1px solid #bbbbbb;
    border-top: none;
    padding: 10px;
    img {
      width: 15% !important;
    }
    &::before {
      content: counter(item);
      color: #bbbbbb;
      font-weight: 500;
    }
    & > div {
      display: flex;
      flex-direction: column;
      font-size: 13px;
    }
  }
}
.trending-now-right-title {
  padding: 10px 10px 20px 10px;
  font-size: 21px;
  font-weight: 600;
  border: 1px solid #bbbbbb;
  width: 100%;
}
.trending-now-form {
  padding: 24px;
  margin: 0px 16px 24px;
  background-color: $bg-gray;
  border-radius: 10px;

  .trending-now-form-title {
    margin: 0px 15px 16px 0px;
    &::before {
      display: none;
    }
  }
  form {
    overflow: hidden;
    display: flex;
    align-items: center;
    border: 1px solid #bbbbbb;
    position: relative;
    background-color: white;
    border-radius: 5px;
    @include myMedia(680px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    input {
      outline: none;
      border: none;
      padding: 10px;
      width: 60%;
      &::placeholder {
        font-size: 20px;
        @include myMedia(760px) {
          font-size: 15px;
        }
      }
    }
    button {
      padding: 20px;
      background-color: #ff6633;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      position: absolute;
      right: 0px;
      i {
        position: absolute;
      }
    }
  }
  &-radios {
    display: flex;
    padding: 10px;
    position: relative;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      height: 90%;
      border: 1px solid rgba(69, 69, 69, 0.509);
      @include myMedia(950px) {
        left: -50%;
      }
      @include myMedia(680px) {
        display: none;
      }
    }
    @include myMedia(950px) {
      width: 20%;
      font-size: 13px;
      column-gap: 5px;
    }
  }
}

.view-all-best-sellers {
  position: relative;
  z-index: 2;
  width: 100%;
  background-color: $bg-gray;
  padding: 10px;
  text-align: center;
  color: $main-green-light;
  border: 1px solid #bbbbbb;
  border-top: none;
  font-size: 20px;
  font-weight: 600;
  &:hover {
    color: #bbbbbb;
  }
}
