.trending-now {
  .container {
    display: flex;
  }
}
.trending-now-left {
  display: flex;
  flex-direction: column;
  width: 70%;
  &>div{
  & > h2 {
    padding: 10px;
    position: relative;
    font-weight: 600;
    span {
      color: $main-green-light;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      border: 1px solid rgba(168, 168, 168, 0.635);
      bottom: 0px;
    }
  }

  }
}
.trending-now-books {
  margin: 10px 0px;
  display: flex;
  justify-content: space-around;
  column-gap: 15px;
  & > div {
    width: calc(100% / 3 - 20px);
    height: auto;
    position: relative;
    padding: 0px 10px;
    background-color: $bg-gray;
    img {
      width: 100%;
    }
  }
}
.checkout-in-trending-now {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    padding: 7%;
    background-color: white;
  }
  .checkout-icon {
    background-color: $mainblue-light;
  }
}
.trending-now-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 10px;
  background-color: white !important;
  & > div {
    width: 50%;
    height: 40%;
    position: relative;
    padding: 0px 10px;
    background-color: $bg-gray;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .checkout-in-trending-now {
    span {
      padding: 5px;
      font-size: 10px;
    }
  }
}
.trending-now-left-bottom-link {
  padding: 10px;
  width: 100%;
  color: $main-green-light;
  display: flex;
  justify-content: flex-end;
  background-color: $bg-gray;
  font-size: 14px;
  font-weight: 600;
}
.trending-now-right{
    display: flex;
    flex-direction: column;
}
